<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  	<%=stylesheet_link_tag 'main' %>
  	<%=stylesheet_link_tag 'sencha-touch.css' %>
  	<script type="text/javascript" src="/javascripts/sencha-touch.js"></script>
  	<script type="text/javascript" src="/javascripts/toolbar.js"></script>
  	<%=@includes%>
    <title><%=@page_title%></title>
    <meta name="viewport" content="width=device-width,user-scalable=no" />
  </head>
  <body>
  		<%=@meta_data%>
			<div id="content" style="display:none">
				<%=yield%>
			</div>
  </body>
</html>

