<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  	<%=stylesheet_link_tag 'main' %>
  	<%=stylesheet_link_tag 'sencha-touch.css' %>
  	<%= csrf_meta_tag %>
    <script src='/javascripts/jquery.min.js'></script>
    <script src='/javascripts/sencha-touch.js'></script>
  	<script src='/dummy.js'></script>
    <script src='/javascripts/date.format.js'></script>
    <!-- only include sencha app for logged in event flow -->
    <script src=<%=@maybeSenchaApp%>></script>
    <%=@includes%>

    <title><%=@page_title%></title>
    <meta name="viewport" content="width=device-width,user-scalable=no" />
  </head>
  <body>
<<<<<<< HEAD
			<div id="content" style="display:none">
=======
  		<%=@meta_data%>
			<div id="content">
>>>>>>> 08b32e05afb588b0fc8b0d581dcc3e7c18b3d507
				<%=yield%>
			</div>
  </body>
</html>

